@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
body {
  color: black;
  background-color: rgb(214, 219,220);
} */

.light {
  color: black;
  background-color: rgb(214, 219,220);
}

.dark {
  color: rgb(214, 219,220);
  background-color: black;
} 